.btn {
	padding: rem(10px) rem(20px);
	background: $accent;
	border-radius: 5px;
	text-transform: uppercase;
	transition: all .3s ease;

	&_color_light {
		color: #fff;
	}

	@include desktop {
		font-size: rem(12px);
	}
}