.certificate__title {
	font-size: rem(30px);
	font-weight: 600;
	margin-bottom: rem(50px);

	@include tablets {
		margin-bottom: rem(30px);
	}

	@include tablets {
		margin-bottom: rem(20px);
	}

	&_large {
		font-size: rem(40px);

		@include tablets {
			font-size: rem(30px);
		}

		@include phones {
			font-size: rem(22px);
		}
	}
}

.certificate__data {
	width: 100%;
	margin-bottom: rem(20px);
}

.certificate__row {
	display: flex;
	align-items: center;

	& span {
		font-size: rem(18px);
		font-weight: 600;
		margin-right: 5px;
	}

	& div {
		width: 100%;
		min-height: rem(44px);
		border-bottom: 1px solid $darkText;
		margin-bottom: rem(20px);
		text-align: center;
		font-size: rem(20px);
		font-weight: 600;
		padding: rem(10px) 0;
		color: $accent;

		@include tablets {
			margin-bottom: rem(10px);
			padding: rem(7px) 0;
		}
	}
	
	&:last-child {
		margin-bottom: 0;
	}

	&_large {
		& span {
			font-size: rem(24px);

			@include tablets {
				font-size: rem(20px);
			}

			@include phones {
				font-size: rem(16px);
			}
		}

		& div {
			font-size: rem(24px);

			@include tablets {
				font-size: rem(20px);
			}

			@include phones {
				font-size: rem(16px);
			}
		}
	}
}

.certificate__specialties {
	width: 100%;
	display: flex;

	&-title {
		font-size: rem(18px);
		font-weight: 600;
		margin-right: 5px;
		margin-bottom: rem(10px);

		&_large {
			font-size: rem(24px);

			@include tablets {
				font-size: rem(20px);
			}

			@include phones {
				font-size: rem(16px);
			}
		}
	}
 
	&-list {
		display: flex;
		flex-wrap: wrap;
	}

	& li {
		margin-right: rem(10px);
		font-size: rem(18px);
		font-weight: 600;
		color: $accent;

		&:last-child {
			margin-right: 0;
		}

		@include tablets-max {
			font-size: rem(24px);
		}

		@include tablets {
			font-size: rem(20px);
		}

		@include phones {
			font-size: rem(16px);
		}
	}
}