.game {
	width: 100%;
	height: rem(300px);
	display: none;
	opacity: 0;
	transition: all .5s ease;
	position: relative;

	@include desktop {
		height: rem(200px);
	}

	&_complited {
		&::after {
			content: '';
			display: block;
			width: 110%;
			height: 110%;
			z-index: 25;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: rem(20px);
			background: rgba($color: #bdbdbd, $alpha: .5);
		}

		&::before {
			content: '';
			display: block;
			z-index: 26;
			position: absolute;
			right: rem(-60px);
			top: rem(-10px);
			transform: translate(-50%, -50%);
			width: rem(50px);
			height: rem(50px);
			background: url(./images/icons/checkmark.svg) center center / cover no-repeat;
		}
	}
}

.game__micro {
	position: relative;
	justify-content: center;
	align-items: center;
}

.game__pipres {
	margin-top: rem(20px);
	align-items: center;
	justify-content: space-between;
}

.game__evs {
	flex-direction: column;
	align-items: center;

	@include desktop {
		height: rem(250px);
	}
}

.game__pms {
	position: relative;
	justify-content: center;
	padding-top: rem(20px);
	height: rem(320px);
}

.game__teres {
	margin-top: 7%;
	position: relative;
	justify-content: center;
}

.game__poit {
	flex-direction: column;
	height: fit-content;
}