.hero__content {
	display: flex;
	margin-top: 5vw;
}

.hero__info {
	display: flex;
	align-items: center;
	justify-content: space-around;

	@include tablets-max {
		flex-direction: column-reverse;
	}
}

.hero__title {
	font-size: rem(40px);
	font-weight: bold;
	text-transform: uppercase;
	color: #212121;
	margin-bottom: rem(30px);

	@include desktop {
		font-size: rem(30px);
	}

	@include tablets-max {
		text-align: center;
		font-size: rem(46px);
		line-height: rem(50px);
	}
}

.hero__subtitle {
	font-size: rem(18px);
	color: #757575;
	margin-bottom: rem(20px);

	@include desktop {
		font-size: rem(16px);
	}

	@include tablets-max {
		text-align: center;
		font-size: rem(24px);
		line-height: rem(26px);
	}
}

.hero__text {
	max-width: 50%;

	@include tablets-max {
		max-width: 70%;
	}
}

.hero__character {
	width: 20%;
	height: rem(350px);
	transform: scale(-1, 1);

	@include desktop {
		width: 25%;
	}

	@include tablets-max {
		width: auto;
		margin-bottom: rem(50px);
	}
}

.hero__open-overlay {
	@include tablets-max {
		margin: 0 auto;
		display: block;
		padding: rem(20px) rem(15px);
		font-size: rem(18px);
		line-height: rem(20px);
	}
}