.pms__phone {
	height: 100%;
	fill: #00BCD4;

	@include tablets-max {
		width: 100%;
	}
}

.pms__game-buttons {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 60%;
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
	grid-gap: rem(5px);

	@include tablets-max {
		top: 48.5%;
		height: rem(380px);
		grid-gap: rem(12px);
	}

	@include phones {
		height: rem(290px);
		grid-gap: rem(7px);
	}
}

.pms__game-btn {
	background: #B2EBF2;
	width: rem(60px);
	border-radius: rem(15px);

	&:hover {
		cursor: pointer;
	}

	&_active {
		background: $accent;
	}

	@include tablets-max {
		width: rem(115px);
	}

	@include phones {
		width: rem(90px);
	}
}

.pms__game-start-btn {
	position: absolute;
	bottom: 4.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $accent;
	width: rem(65px);
	height: rem(17px);
	border-radius: rem(10px);

	&:hover {
		cursor: pointer;
	}

	&_disabled {
		background: #757575;

		&:hover {
			cursor: default;
		}	
	}

	@include tablets-max {
		bottom: 2%;
		width: rem(120px);
		height: rem(50px);
	}

	@include phones {
		width: rem(90px);
		height: rem(30px);
	}
}