.specialties__way {
	position: relative;
	width: 50%;

	@include desktop {
		width: 54%;
	}
}

.specialties__way-img {
	width: 100%;

	& .cls-3,
	& .cls-5 {
		fill: #B2EBF2;
	}

	& .cls-4 {
		fill: $accent;
	}
}

:root {

  --color-1: #4CE636;
  --color-2: #13993C;
}

.specialties__way-character {
	position: absolute;
	top: -9%;
	left: 13%;
	height: 11%;
	width: 11%;
	max-height: rem(70px);
	max-width: rem(70px);
}

.specialties__info {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	@include desktop {
		width: 39%;
	}
}

.specialties__title {
	opacity: 1;
	font-size: rem(28px);
	font-weight: bold;
	transition: opacity .3s ease;
	color: #212121;
	margin-bottom: rem(20px);

	@include desktop {
		font-size: rem(24px);
	}

	@include tablets {
		font-size: rem(20px);
	}
}

.specialties__games {
	width: 100%;
}