.teres__img {
	position: absolute;
	overflow: hidden;
	width: 41.5%;
	top: 32%;
	margin-right: rem(60px);
	height: 56%;
	border-radius: rem(15px);
	background: #212121;
	z-index: $z-screen;

	@include desktop {
		width: rem(130px);
		margin-right: rem(40px);
	}

	@include tablets-max {
		width: rem(340px);
		margin-right: rem(100px);
	}

	@include tablets {
		width: 250px;
		height: 60%;
		margin-right: 80px;
		top: 30%;
	}

	@include phones {
		width: 210px;
		height: 55%;
		margin-right: 65px;
		top: 32%;
	}

	&-content {
		background: #B2EBF2;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity .3s ease;

		&_active {
			opacity: 1;
		}
	}
}

.teres__tv {
	height: 82%;
	align-self: flex-end;
	position: relative;
	z-index: $z-tv;

	@include tablets-max {
		width: 100%;
	}

	@include tablets {
		max-width: 366px;
		max-height: 320px;
	}

	@include phones {
		max-width: 300px;
		max-height: 320px;
	}
}

.teres__handle {
	width: rem(45px);
	height: rem(45px);
	top: 35%;
	margin-left: rem(207px);
	position: absolute;
	border-radius: 50%;
	z-index: $z-handle;

	@include desktop {
		width: rem(35px);
		height: rem(35px);
		top: 37%;
		margin-left: rem(140px);
	}

	@include tablets-max {
		width: rem(80px);
		height: rem(80px);
		margin-left: rem(350px);
	}

	@include tablets {
		width: rem(68px);
		height: rem(68px);
		top: 35%;
		margin-left: rem(275px);
	}

	@include phones {
		width: rem(60px);
		height: rem(60px);
		top: 37%;
		margin-left: rem(260px);
	}

	&:hover {
		cursor: pointer;
	}

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform .5s ease;
		transform: rotate(0deg);

		&_clicked {
			transform: rotate(90deg);
		}

		&_active {
			background: linear-gradient(to right, #FCD462 20%, #44C4A1 20%, #44C4A1 40%, #27A2DB 40%, #27A2DB 60%, #E56353 60%, #E56353 80%, #EBF0F3 80%);
		}
	}
}

.teres__antennas {
	position: absolute;
	width: 16%;
	height: 20%;
	top: -5px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: $z-antennas;

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform-origin: 50% 100%;
		transform: rotate(-60deg);
		transition: transform .5s ease;

		&_clicked {
			transform: rotate(0deg);
		}
	}

	&:hover {
		cursor: pointer;
	}

	@include tablets-max {
		width: 23%;
		height: 23%;
		top: -4%;
	}

	@include tablets {
		width: 120px;
		height: 120px;
		top: -12%;
	}

	@include phones {
		width: 100px;
		height: 100px;
		top: -6%;
	}
}

.teres__logo-img {
	@include tablets-max {
		width: 60%;
		height: auto;
	}
}